@model ElectronicShops.Models.Description

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

        @foreach (KeyValuePair<string, string> parameter in Model.Parameters)
        {
            if (@parameter.Value != "") {
                <dt>
                    @parameter.Key
                </dt>

                <dd>
                    @Html.DisplayFor(model => parameter.Value)
                </dd>
            }
         }
    </dl>
</div>
