@model PagedList.IPagedList<ElectronicShops.Models.Product>

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


<table class="table table-hover" id="products-table">
    <tr>
        <th>
            @Html.ActionLink("Typ", "Index", new { sortOrder = ViewBag.TypeSort , currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
           @Html.ActionLink("Producent", "Index", new { sortOrder = ViewBag.PriceSort , currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
           @Html.ActionLink("Model", "Index", new { sortOrder = ViewBag.ProducentSort , currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
           @Html.ActionLink("Cena", "Index", new { sortOrder = ViewBag.PriceSort , currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
           @Html.ActionLink("Jakość", "Index", new { sortOrder = ViewBag.QualitySort , currentFilter = ViewBag.CurrentFilter })
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
        
            <td>               
               @Html.DisplayFor(model => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quality)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id }) 
                <br />
                @Html.ActionLink("Szczegóły", "Description", new { id = item.Id })
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))




@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
}